<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Path of Project</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="flex justify-center pt-40">
    <a href="/products/" class="block max-w-xs p-6 m-5 bg-white border border-gray-200 rounded-md shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Products List</h5>
      <p class="font-normal text-gray-700 dark:text-gray-400"> <strong>Click here and go to product list screen.</strong> </p>
    </a>
    <a href="/products/new" class="block max-w-xs p-6 m-5 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Create New Product</h5>
      <p class="font-normal text-gray-700 dark:text-gray-400"><strong>Click here and go to create new products screen.</strong></p>
    </a>
  </div>
    
</body>
</html>

<!-- <div class="flex space-x-3 justify-center w-full h-64 bg-slate-700 ">
  <p class="text-sm font-bold font-mono text-red-300 rounded-sm bg-zinc-50">
    <a href="/products">Go to Products</a>
  </p>
  <p class="text-sm font-bold font-mono text-red-300 rounded-sm bg-zinc-50">
    <a href="/products/new">Create New Product</a>
  </p>
</div> -->